/* font-family: 'Ibarra Real Nova', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Edu VIC WA NT Beginner', cursive; */


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(255, 182, 193, 0.397);
    font-family: 'Roboto', sans-serif;
    padding: 70px 70px;
}

.main{
    width: 75%;
    
    max-width: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.box1{
    
    background-image: url(img/image-product-mobile.jpg);
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    flex: 1;
}

.bo1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.box2{
    background: #fff;
    flex: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.box2 h1{
    font-size: 15px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 0;
    font-weight: 500;
}

.box2 h2{
    font-size: 40px;
    line-height: 43px;
    padding: 0 40px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: rgb(8, 56, 8);
    
}

.box2 p{
    font-size: 14px;
    padding: 0 40px;
    line-height: 23px;
}

.box2 span{
    font-family: 'Ibarra Real Nova', serif;
    font-weight:700px;
    font-size: 35px;
    padding: 0 40px;
    position: relative;
    margin: 0;
}

.box2 span div{
    position: absolute;
    top: 11px;
    left: 200px;
    font-family: 'Roboto', sans-serif;    
    font-size: 14px;
    background: rgb(8, 56, 8);
    padding: 2px 20px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    margin: 0;

}

.box2 button{
    background: rgb(8, 56, 8);
    padding: 10px 30px;
    color: #fff;
    text-align: center;
    
    border: none;
    font-family: 'Roboto', sans-serif;    
    font-size: 19px;
    margin-bottom: 40px;
    margin-left: 30%;
    border-radius: 10px;  
}

.box2 button:hover{
    opacity: .9;
}


@media (min-width:800px){
    .main{
        width: 95%;
    
        max-width: 700px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 1px 1px 19px -7px #000;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }

    .box1{
        flex: 1;

        background-image: url(img/image-product-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
    
    .box1 img{
        display: none;
    }

    .box2{
        background: #fff;
        flex: 1;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}








